<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div>

		<div class="w3-card w3-margin w3-padding">

			<div class="w3-container w3-center">
				<div class=''>
					<img src="images/logo.png" style="width:200px"/>
				</div>	
			  <p>Skindiz is a WebApp design for skin Disease Classification Using Images Processing...</p>
			  
			</div>
		</div>
		<div class="w3-container w3-padding-64 w3-center">		
			<div class="w3-bar  w3-circle">
			<a href="home.html">
			  <button href="home.html"  class=" Start">Classifier</button>
			  <a>
			</div>
		</div>
	
		<div class="w3-container">
		  <button onclick="myFunction()" class="w3-btn"><i class="fa fa-info-circle"></i></button>
		  <div id="Demo" class="w3-hide w3-padding w3-container">
				coming soon!!!
		  
		  </div>
		</div>

		<script>
		function myFunction() {
		  var x = document.getElementById("Demo");
		  if (x.className.indexOf("w3-show") == -1) {
			x.className += " w3-show";
		  } else {
			x.className = x.className.replace(" w3-show", "");
		  }
		}
		</script>

</body>
</html>
